body{
    height: 100%;
    margin: 0px;
    
	overflow: hidden;
	transition-duration: 0.1s;
}

#main {
	
  transition: all .4s ease-in-out;
}

.slide {
    height: 80%;
}


#downscroller {
	
  	user-select: none;
	position: fixed;
    bottom: 1.5em;
    left:50%;
}

#downscroller a {
	opacity: 0.5;
	text-decoration: none;
	-ms-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
	width: 50px;
}

#downscroller a:hover {
	opacity: 1;
}